asgiref==3.8.1
certifi==2018.10.15
chardet==3.0.4
defusedxml==0.5.0
Django>=4.2,<5.0
django-filter==2.0.0
django-rest-auth==0.9.3
djangorestframework==3.14.0
dynamic-django-forms==0.1.11
idna==2.7
Markdown==3.5.2
oauthlib==2.1.0
pillow==10.3.0
python3-openid==3.1.0
pytz==2018.7
requests==2.20.0
requests-oauthlib==1.0.0
six==1.11.0
sqlparse==0.5.0
urllib3==1.24.2
gunicorn==21.2.0
whitenoise==6.6.0
psycopg2-binary==2.9.9
dj-database-url==0.5.0
python-dotenv==1.0.0
setuptools==69.2.0
packaging==23.2
firebase-admin==6.2.0
python-firebase==1.2
django-storages==1.14.2