{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% if user.is_authenticated %}
{% block name%} <span class="test-white"> {{user.fname}} {{user.lname}} </span> {%endblock name%}
{% endif %}

{% block content %}


{% if user.is_authenticated %}
<div class="grid grid-cols-5 gap-4">
  <div class="col-span-1 bg-gray-200 space-y-5 mt-5 mb-5 pb-4">
    <a href="{% url 'applist' %}" class="text-white p-2 bg-orange-500 flex flex-col m-4">Home</a>
    <a href="{% url 'profile' email=user.email %}" class="text-white p-2 bg-orange-500 flex flex-col m-4">Profile</a>
    <a href="{% url 'points' %}" class="text-white p-2 bg-orange-500 flex flex-col m-4">points</a>
    <a href="{% url 'task' %}" class="text-white p-2 bg-orange-500 flex flex-col m-4">Task</a>
    <form action="{% url 'signout' %}" method="post" class="flex items-center justify-center ">
      {% csrf_token %}
      <button type="submit" class="text-white p-2 bg-orange-500 flex flex-col m-4">Log Out</button>
    </form>

  </div>
  <div class="col-span-4 bg-gray-300">Right Column </div>
</div>

{% else %}

<div class="flex items-center justify-center">
  <div class="p-2 m-4">
    <p class="text-white text-xl text-center mb-6">Login first to see the app list</p>
    <a href="{% url 'signin' %}" class="flex items-center justify-center text-white p-2 bg-orange-500">Signin</a>
  </div>
</div>

{% endif %}



{% endblock %}